PORT=8000
NODE_ENV=development

DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=epifi
DB_USER=
DB_PASSWORD=

DB_SSL=false
DB_SSL_REJECT_UNAUTHORIZED=false

JWT_SECRET=a-long-random-string
JWT_EXPIRES_IN=7d

SMTP_USER=
SMTP_PASS=